<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeFest 2025</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="shortcut icon" href="static/images/favicon.ico">
</head>

<body>
    <header>
        <ul class="navBar">
            <li><a class="nav-link" href="/"><img src="static/images/bagsLogo.png"></a></li>
            <li><a class="nav-link active" href="{{ url_for('about') }}">About</a></li>        
        </ul>
    </header>


    <div class="descriptionField">
        <p>Description:</p>
        <p>
          Basic Artificial Garbage Sorting, also known as B.A.G.S, is a OpenCV and Spaghetti powered 
          website designed to detect plastic bags amongst recyclable materials. Our use case is for recycling plants 
          that need to throw away large amounts of recyclable material because of trash pollution. 
          Our website is meant to help recycling plants pick common articles of trash, like plastic bags, 
          out of recyclable materials that are still viable for reuse. Our software is expandable, 
          and we plan on later adding detection for other common articles of trash like plastic straws and bubble wrap.
        </p>
        </div>

    <div class="container">
        <div class="gallery">
            <div class="gallery__item gallery__item--1">
                <img class="gallery__img" src="static/images/ari.jpeg" alt="Group Member 1">
              </a>
              <div class="desc">Ari Hayes</div>
            </div>

            <div class="gallery__item gallery__item--2">
                <img class="gallery__img" src="static/images/ayse.jpg" alt="Group Member 2">
              </a>
              <div class="desc">Ayse Turcan</div>
            </div>

            <div class="gallery__item gallery__item--3">
                <img class="gallery__img" src="static/images/connor.jpeg" alt="Group Member 3">
              </a>
              <div class="desc">Connor Finley</div>
            </div>

            <div class="gallery__item gallery__item--4">
                <img class="gallery__img" src="static/images/eze.jpeg" alt="Group Member 4">
              </a>
              <div class="desc">Eze Anyaegbu</div>
            </div>

            <div class="gallery__item gallery__item--5">
                <img class="gallery__img" src="static/images/ezra.jpeg" alt="Group Member 5">
              </a>
              <div class="desc">Ezra Smith-Pohl</div>
            </div>

            <div class="gallery__item gallery__item--6">
                <img class="gallery__img" src="static/images/micheal.jpeg" alt="Group Member 6">
              </a>
              <div class="desc">Michael Yau</div>
            </div>

            <div class="gallery__item gallery__item--7">
              <a href="https://www.youtube.com/watch?v=rNYaw4EJpZo&ab_channel=KDJProductions">
                <img class="gallery__img" src="static/images/katyperry.png" alt="Group Member 7 (the goat)">
              </a>
            <div class="desc">Katy Perry</div>
          </div>
        </div>
    </div>
</body>
</html>