<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeFest 2025</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <header>
        <ul class="navBar">
            <li><a  class="nav-link active" href="/">Project Title</a></li>
            <li><a class="nav-link" href="pages/about.html">About</a></li>        
        </ul>
    </header>



    <div class="videoField">
        <img src="{{ url_for('video_feed') }}" class="Video_Field">
    </div>

    <div class="resultsField">
        <p>Results Text Field</p></div>

        <div class="descriptionField">
        <p>Project Description</p>
        <p>Lorem ipsum dolor sit amet consectetur. 
            Mauris odio rutrum potenti feugiat sit volutpat elementum mattis. 
            Accumsan aenean convallis dolor et lectus diam nibh a amet. 
            Sed in nam eget arcu vel sapien vel adipiscing adipiscing. 
            Egestas bibendum nisi id ac nibh. 
            Convallis metus gravida laoreet donec augue vestibulum. 
            Leo aliquam lacinia interdum elementum lacus tincidunt. 
            Lacus feugiat blandit arcu praesent tincidunt amet. 
            Nisi egestas ac vel amet diam ullamcorper elementum ullamcorper. 
            Tellus ut urna non elementum massa consectetur eget neque gravida.</p>
    </div>
</body>
</html>