<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeFest 2025</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <header>
        <ul class="navBar">
            <li><a  class="nav-link active" href="/">B.A.G.S.</a></li>
            <li><a class="nav-link" href="{{ url_for('about') }}">About</a></li>        
        </ul>
    </header>



    <div class="videoField">
        <img width="100%" height="auto" src="{{ url_for('video_feed') }}" class="Video_Field">
        <button class="Start_Button">Start Feed</button>
        <button class="Stop_Button">Stop Feed</button>
    </div>

</body>
</html>